---
title: "/{{ page.fileSlug }}/"
permalink: "notes/{{ page.fileSlug | slugify }}/"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.fileSlug }} - artisthlete.ac</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body class="theme-{{meta.baseTheme}} markdown-preview-view">
    {%include "components/notegrowthhistory.njk"%}

    <div class="content">
      {% if dgHomeLink !== false%}
        <a href="/">artisthlete.ac</a> - {{ page.fileSlug  | slugify }}
      {% endif %}
      {{ content | link | highlight | safe}}
    </div>
    <div class="content">
    <hr>
    <ceter><h2>artisthlete.ac</h2></center>
    </div>
  </body>
</html>
